<!doctype html>
<html lang="es">
<head>
  {% block head %}
    <title>Easy Travel</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="assets/css/main.css" />
    <link rel="stylesheet" href="assets/css/estilo.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.3.3/underscore-min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <script src="https://kit.fontawesome.com/87277c0c3b.js" crossorigin="anonymous"></script>
    <script src="assets\js\daterangepicker.js"></script>
    <link href="assets\css\daterangepicker.css" rel="stylesheet">

    <link rel="icon" href="imagenes/favicon.ico" type="image/x-icon" />

  {% endblock %}
</head>
<body>

  <div class="cabecera">
    <a href="/EasyTravel/public/" >
      <img class="logo" src="imagenes/easyTravel.png" alt="Logo easyTravel">
    </a>
    <div class="nav_login">

      {% if nickname|length > 0  %}
        <form class="" action="logout" method="get">
        <input type="submit" id="logout" class="login" value="LogOut">
        </form>

        <!--<a href="modificarusr/{{ nickname }}" class="registrarse"> Usuario : {{ nickname }}</a>-->
        <form class="" action="modificarusr" method="post">
        <ul class="icons">
            <!--<li><label for="name" class="login" id="logueado" >Usuario  {{ nickname }}</label></li>-->
            <li><input type="hidden" name="logueado" value="{{ nickname }}" id="logueado" >
            <li><input type="submit" id="modificar" class="login" value="{{ nickname }}"></li>
        </ul>
        </form>
      {% else %}
        <form class="" action="login" method="get">
            <input type="submit" id="login" class="login" value="Login">
        </form>
        <form class="" action="registro" method="get">
            <input type="submit" id="" class="registrarse" value="Registrarse">
        </form>
      {%  endif %}


  </div>
  </div>
