{% include 'cabecera.twig' %}


  </div>
  <div class="listado">

    <header id="header">
      <h1>Bienvenido a Easy Travel</h1>
    </header>
    <form id="signup-form" method="POST" action="paquetes" autocomplete="off">
      <input id="destino" type="text" name="destino" placeholder="Destino">
      <select id="precio" type="number" name="precio" placeholder="Monto">
          <option value="">Seleccione un monto</option>
          <option value="500">Menor a 500 EUR</option>
          <option value="500-1000">Entre 500 y 1000 EUR</option>
          <option value="1000-1500">Entre 1000 y 1500 EUR</option>
          <option value="1500">Mayor a 1500 EUR</option>
      </select>
      {# para que se vea la fecha al inicio  value="{{"now"|date("m/d/yy")}} - {{"now"|date("m")}}/{{"now"|date("d") + 7}}/{{"now"|date("yy")}}" #}
      <input id="fecha" type="text" name="fecha">
      <input id="tematica" type="search" name="tematica" placeholder="Tematica">
      <input type="submit" value="Buscar" class="boton_formulario"/>
    </form>
      {% if resenias %}
        <div style="display: flex;">
            {% for item in resenias %}
                <div class="resultado" style="margin: 0.3rem; width: 18rem;">
                    <div>
                        <h3>{{item.nombre}}</h3>
                        <h3>{{item.ciudad}}</h3>
                        <p>{{item.descripcion}}</p>
                    </div>
                </div>
            {% endfor %}
        </div>
      {% endif %}

  </div>

{% include 'pie.twig' %}
