{% set cantOpciones = 0 %}
{% include 'cabecera.twig' %}
	{% if destinos %}
		<div class="listado">
      <h1>Descubrí {{destinos.ciudad}} {{destinos.pais}}</h1>
			{% for item in alojamientos %}
				{% set cantOpciones = cantOpciones + 1 %}
					<div class="resultado">
						<img src="imagenes/sevilla1.jpg" alt="imagen" class="imgDestino">
						<div class="descripcion">
              <h2>Opción {{ cantOpciones }}:</h2>
							<p><b>Región:</b> {{destinos.region}}</p>
							<p><b>Latitud:</b> {{destinos.latitud}}</p>
							<p><b>Longitud:</b> {{destinos.longitud}}</p>
							<h2><b>Hopedate en:</b> </h2>
							<p><b>Hotel:</b> {{item.nombre}}</p>
							<P><b>Estrellas:</b> {{item.estrellas}}</p>
							<p><b>CheckIn:</b> {{item.checkIn}}  <b>CheckOut:</b> {{item.checkOut}}</p>
							<p><b>Descripción:</b> {{item.descripcion}}<p>
							<p><b>Precio total: € </b> {{item.precio}}</p>
							{% if session.nick %}
							<form id="paquete-{{cantOpciones}}" onsubmit="guardarPaquete({{cantOpciones}});">
								<div style="display: none;">
									<input type="text" id="idAlojamiento-{{cantOpciones}}" name="idAlojamiento" value="{{item.idAlojamiento}}">
									<input type="text" id="idVuelo-{{cantOpciones}}" name="idVuelo" value="IDVuelo">
									<input type="text" id="idDestino-{{cantOpciones}}" name="idDestino" value="{{destinos.id}}">
								</div>
								<div class="reservar" id="reservar-{{cantOpciones}}">
									<i class="fas fa-spinner fa-spin"></i>
									<input type="submit" id="btnReserva-{{cantOpciones}}" class="btnReserva">
								</div>
							</form>
							{% endif %}
						</div>
					</div>
			{% endfor %}
				</div>
				{% else %}
				<h2>En el momento no tenemos un paquete para ofrecerle. Intente cambiar los parametros de busqueda.</h2>
	{% endif %}

{% include 'pie.twig' %}
