{% set cantOpciones = 0 %}
{% set elementos_pagina = 10 %}
{% set paginas = ((paquetes|length)/elementos_pagina)|round(0,'ceil') %}
{% include 'cabecera.twig' %}
    <div class="listado">
        {% if paquetes.mensaje %}
            <h1>{{paquetes.mensaje}}</h1>
        {% else %}
            {% for item in paquetes %}
                {% set cantOpciones = cantOpciones + 1 %}
                    <div class="resultado">
                        <img src="imagenes/sevilla1.jpg" alt="imagen" class="imgDestino">
                        <div class="descripcion">
                            <h2>Opcion {{ cantOpciones }}:</h2>
                            <h1>{{item.ciudad}} {{ item.pais}}</h1>
                            <p>Región: {{item.region}}</p>
                            <p>Latitud: {{item.latitud}}</p>
                            <p>Longitud: {{item.longitud}}</p>
                            <p><b>Hotel: </b>{{item.nombre}}</p>
                            <P><b>Estrellas:</b> {{item.estrellas}}</p>
                            <p><b>CheckIn:</b> {{item.checkIn}}  <b>CheckOut:</b> {{item.checkOut}}</p>
                            <p><b>Descripcion:</b> {{item.descripcion}}<p>
                            <p><b>Vuelo: </b>{{item.id_transporte}}</p>
                            <p><b>Fecha de salida del vuelo: </b>{{item.fechaIda}}</p>
                            <p><b>Precio: </b>{{item.precio}}</p>
                            <form id="paquete-{{cantOpciones}}" onsubmit="guardarPaquete({{cantOpciones}});">
                                <div style="display: none;">
                                    <input type="text" id="idAlojamiento-{{cantOpciones}}" name="idAlojamiento" value="{{item.id_alojamiento}}">
                                    <input type="text" id="idVuelo-{{cantOpciones}}" name="idVuelo" value="{{item.id_transporte}}">
                                    <input type="text" id="idDestino-{{cantOpciones}}" name="idDestino" value="{{item.id_destino}}">
                                </div>
                                <div class="reservar" id="reservar-{{cantOpciones}}">
                                    <i class="fas fa-spinner fa-spin"></i>
                                    <input type="submit" id="btnReserva-{{cantOpciones}}" class="btnReserva">
                                </div>
                            </form>
                        </div>
                    </div>
            {% endfor %}
        {% endif %}
        <center>
          <div class="pagination">

            {% for i in 0 .. paginas %}
              {% if i+1 > 10 %}
                <a href="{{ (url ~ 1)|e }}"  onclick="pagina(event,{{ i }});">...</a>
              {% else %}
                <a href="{{ url ~ loop.index }}"  onclick="pagina(event,{{ i }});"> {{ i+1 }}</a>
              {% endif %}
            {% endfor %}
          </div>
        </center>
    </div>
{% include 'pie.twig' %}
