{% set derecha = false %}
<!DOCTYPE html>
<html lang="es">
	<head>
	<meta charset="utf-8">
	<title>Easy Travel</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
	<link rel="shortcut icon" href="favicon.ico">

	<!-- Google Webfonts -->
	<link href='http://fonts.googleapis.com/css?family=Roboto:400,300,100,500' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Roboto+Slab:400,300,100,500' rel='stylesheet' type='text/css'>

	<!-- Theme Style -->
	<link rel="stylesheet" href="assets/listado/css/style.css">
	<!-- Modernizr JS -->
	<script src="assets/listado/js/modernizr-2.6.2.min.js"></script>
	</head>
	<body>
		<div id="fh5co-portfolio">
			<h1>Descubrí {{destinos.nombre}} {{destinos.pais}}</h1>
                        <h1>{{puntosdeinteres.id}}</h1>
			{% for item in alojamientos %}
				{% if derecha == false %}
					<div class="fh5co-portfolio-item ">
						<div class="fh5co-portfolio-figure animate-box" style="background-image: url(imagenes/sevilla1.jpg);"></div>
						<div class="fh5co-portfolio-description">

							<h2>Opcion 1:</h2>
							<p>Región: {{destinos.region}}</p>
							<p>Latitud: {{destinos.latitud}}</p>
							<p>Longitud: {{destinos.longitud}}</p>
							<h2>Hopedate en: </h2>
							<p><b>Hotel:</b> {{item.nombre}}</p>
							<P><b>Estrellas:</b> {{item.estrellas}}</p>
							<p><b>CheckIn:</b> {{item.chekIn}}  <b>CheckOut:</b> {{item.chekOut}}</p>
							<p><b>Descripcion:</b> {{item.descripcion}}<p>
							<p><b>Precio total:</b> {{item.precio}}</p>

							<p><a href="#" class="btn btn-primary">Reservar</a></p>
						</div>
					</div>
					{% set derecha = true %}
				{% else %}
					<div class="fh5co-portfolio-item fh5co-img-right">
						<img src="imagenes/sevilla2.jpg" alt="imagen ">
						<div class="fh5co-portfolio-figure animate-box" style="background-image: url(imagenes/sevilla1.jpg);"></div>
						<div class="fh5co-portfolio-description">

							<h2>Opcion 1:</h2>
							<p>Región: {{destinos.region}}</p>
							<p>Latitud: {{destinos.latitud}}</p>
							<p>Longitud: {{destinos.longitud}}</p>
							<h2>Hopedate en: </h2>
							<p><b>Hotel:</b> {{item.nombre}}</p>
							<P><b>Estrellas:</b> {{item.estrellas}}</p>
							<p><b>CheckIn:</b> {{item.chekIn}}  <b>CheckOut:</b> {{item.chekOut}}</p>
							<p><b>Descripcion:</b> {{item.descripcion}}<p>
							<p><b>Precio total:</b> {{item.precio}}</p>
							<p><a href="#" class="btn btn-primary">Reservar</a></p>
						</div>
					</div>
					{% set derecha = false %}
				{% endif %}
			{% endfor %}
			</div>

	<!-- jQuery -->
	<script src="assets/listado/js/jquery.min.js"></script>
	<!-- jQuery Easing -->
	<script src="assets/listado/js/jquery.easing.1.3.js"></script>
	<!-- Bootstrap -->
	<script src="assets/listado/js/bootstrap.min.js"></script>
	<!-- Waypoints -->
	<script src="assets/listado/js/jquery.waypoints.min.js"></script>
	<!-- Main JS -->
	<script src="assets/listado/js/main.js"></script>


	</body>
</html>
