{% set cantOpciones = 1 %}

{% include 'cabecera.twig' %}
		<div class="listado">
      <h1>Descubrí {{destinos.nombre}} {{destinos.pais}}</h1>
			{% for item in alojamientos %}
					<div class="resultado">
						<img src="imagenes/sevilla1.jpg" alt="imagen" class="imgDestino">
						<div class="descripcion">
              <h2>Opcion {{ cantOpciones }}:</h2>
							<p>Región: {{destinos.region}}</p>
							<p>Latitud: {{destinos.latitud}}</p>
							<p>Longitud: {{destinos.longitud}}</p>
							<h2>Hopedate en: </h2>
							<p><b>Hotel:</b> {{item.nombre}}</p>
							<P><b>Estrellas:</b> {{item.estrellas}}</p>
							<p><b>CheckIn:</b> {{item.checkIn}}  <b>CheckOut:</b> {{item.checkOut}}</p>
							<p><b>Descripcion:</b> {{item.descripcion}}<p>
							<p><b>Precio total:</b> {{item.precio}}</p>
							<a href="#" class="reservar">RESERVAR</a>
						</div>
					</div>
          {% set cantOpciones = cantOpciones + 1 %}
			{% endfor %}
				</div>

        {% block footer %}
          <footer id="footer" style="display: contents;">
            <ul class="icons">
              <li><a href="https://twitter.com/explore" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
              <li><a href="https://www.instagram.com/?hl=es-la" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>
              <li><a href="#" class="icon fa-envelope"><span class="label">Email</span></a></li>
            </ul>
          </footer>
        {% endblock %}
      {% block head_js %}
        </script>
          <script src="assets/index/js/main.js"></script>
        </body>
      {% endblock %}
      </html>
