<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="utf-8">
        <title>Easy Travel</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
        <link rel="shortcut icon" href="favicon.ico">

        <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700,300' rel='stylesheet' type='text/css'>

        <link rel="stylesheet" href="../assets/login/css/bootstrap.min.css">
        <link rel="stylesheet" href="../assets/login/css/animate.css">
        <link rel="stylesheet" href="../assets/login/css/style.css">


        <!-- Modernizr JS -->
        <script src="../assets/login/js/modernizr-2.6.2.min.js"></script>
        <script src="../assets/login/js/easytravel.js"></script>
        <script src="../assets/login/js/bootstrap.min.js"></script>

    </head>
    <body class="style-2">
        <div class="container">
            <ul class="nav nav-tabs nav-justified label-primary">
                <li class="active"><a data-toggle="tab" href="#home">Perfil</a></li>
                <li><a data-toggle="tab" href="#menu1">Paquetes comprados</a></li>
                <li><a data-toggle="tab" href="#menu2">Reseñas</a></li>
            </ul>

            <div class="tab-content">
                <div id="home" class="tab-pane fade in active">
                    <div class="row">
                        <div class="col-md-4">
                            <!-- Start Sign In Form -->
                            <form action="../modificar" method="post" class="fh5co-form" data-animate-effect="fadeInLeft" name="modificar">
                                <h2>Modificar Datos Usuario</h2>
                                <div class="form-group">
                                    <label for="name" class="sr-only">Nickname</label>
                                    <input type="text" class="form-control" name="nickname" id="nickname" readonly value="{{ usuario.nickname }}">
                                </div>
                                <div class="form-group">
                                    <label for="name" class="sr-only">Nombre</label>
                                    <input type="text" class="form-control" name="nombre" id="name" placeholder="Nombre" autocomplete="off" value="{{ usuario.nombre }}"
                                           required="yes">
                                </div>
                                <div class="form-group">
                                    <label for="name" class="sr-only">Apellido</label>
                                    <input type="text" class="form-control" name="apellido" id="apellido" placeholder="Apellido" autocomplete="off" value="{{ usuario.apellido }}"
                                           required="yes">
                                </div>
                                <div class="form-group">
                                    <label for="email" class="sr-only">Email</label>
                                    <input type="email" class="form-control" name="email" id="email" placeholder="Email" autocomplete="off" value="{{ usuario.correo }}"
                                           required="yes">
                                </div>
                                <div class="form-group">
                                    <label for="password" class="sr-only">Password</label>
                                    <input type="password" class="form-control" name="password" id="password" placeholder="Password" autocomplete="off" value="{{ usuario.password }}"required="yes">
                                </div>

                                <div class="form-group">
                                    <input type="submit" value="Guardar" class="btn btn-primary" >
                                </div>
                            </form>

                        </div>
                    </div>
                </div>
                <div id="menu1" class="tab-pane fade">
                    <div class="col-md-12 fh5co-form">
                        {% if paquetes.mensaje %}
                            <h1>{{paquetes.mensaje}}</h1>
                        {% else %}

                            <p>Filtrar por alguna de las columnas:</p>
                            <input class="form-control" id="myInput" type="text" placeholder="Filtrar...">
                            <br>
                            <table class="table table-striped table-hover table-bordered">
                                <thead>
                                    <tr>
                                        <th>Id Paquete</th>
                                        <th>Ciudad</th>
                                        <th>Pais</th>
                                        <th>Hotel</th>
                                    </tr>
                                </thead>

                                <tbody id="myTable">
                                    {% for item in paquetes %}
                                        <tr>
                                            <td>{{ item.id_paquete }}</td>
                                            <td>{{ item.ciudad }}</td>
                                            <td>{{ item.pais }}</td>
                                            <td>{{ item.nombre }}</td>
                                            <td> <button id="agregar" name="agregar" class="btn btn-info pull-left" onClick="window.location = '../resenia/{{item.id_paquete}}'">Agregar Reseña</button></td>

                                        </tr>

                                    {% endfor %}
                                </tbody>
                            </table>
                        {% endif %}
                    </div>
                </div>
                <div id="menu2" class="tab-pane fade">
                    <div class="col-md-12 fh5co-form">
                        {% if resenias.mensaje %}
                            <h1>{{resenias.mensaje}}</h1>
                        {% else %}

                            <p>Filtrar por alguna de las columnas:</p>
                            <input class="form-control" id="mInput" type="text" placeholder="Filtrar...">
                            <br>
                            <table class="table table-striped table-hover table-bordered">
                                <thead>
                                    <tr>
                                        <th>Transporte</th>
                                        <th>Fecha Viaje</th>
                                        <th>Hotel</th>
                                        <th>Destino</th>
                                    </tr>
                                </thead>

                                <tbody id="TablaResenia">
                                    {% for item in resenias.resenias %}
                                        <tr>
                                            <td>{{ item.transporte }}</td>
                                            <td>{{ item.fecha }}</td>
                                            <td>{{ item.nombre }}</td>
                                            <td>{{ item.destino }}</td>
                                            <td>{{ item.resenia }}</td>


                                        </tr>

                                    {% endfor %}
                                </tbody>
                            </table>
                        {% endif %}
                    </div>
                </div>
            </div>
                    <div class="form-group">
                            <p><a class="btn btn-primary" href="/EasyTravel/public/">Volver</a></p>
                        </div>
        </div>

    </div>
    
    <!-- jQuery -->
    <script src="../assets/login/js/jquery.min.js"></script>
    <!-- Bootstrap -->
    <script src="../assets/login/js/bootstrap.min.js"></script>
    <!-- Placeholder -->
    <script src="../assets/login/js/jquery.placeholder.min.js"></script>
    <!-- Waypoints -->
    <script src="../assets/login/js/jquery.waypoints.min.js"></script>
    <!-- Main JS -->
    <script src="../assets/login/js/main.js"></script>
    <script type="text/javascript">

    $(document).ready(function () {
        $("#myInput").on("keyup", function () {
            var value = $(this).val().toLowerCase();
            $("#myTable tr").filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });
         $("#mInput").on("keyup", function () {
            var value = $(this).val().toLowerCase();
            $("#TablaResenia tr").filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });
    });


    </script>

</body>
</html>
